* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: url(./icon/Italy_Mountains_Lake_Dolomites_Alps_Crag_598703_1280x853.jpg) center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

.select-time {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5rem;
}

.time {
  border-radius: 1rem;
  background: rgb(92, 154, 156);
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0.8;
  cursor: pointer;
  outline: none;
}

.time:hover {
  transform: scale(1.2);
  opacity: 1;
}

.player {
  position: relative;
}

h1 {
  margin-top: 4rem;
  font-size: 4rem;
  color: rgb(255, 228, 196);
}

.track-outline {
  position: absolute;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.moving-outline {
  position: absolute;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

#state {
  background-color: unset;
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-size: contain;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.5s ease;
}

.play {
  background-image: url(./icon/icons8-play.png);
}

.pause {
  background-image: url(./icon/icons8-pause.png);
}

.new-text {
  position: absolute;
  top: 75%;
  left: 43%;
  font-size: 2rem;
}

#time {
  text-align: center;
  margin-top: 44rem;
  font-size: 3rem;
}

.select-music {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 5rem;
}

#mountain {
  background: url(./icon/icons8-mountain.png) center;
  background-size: contain;
  width: 4rem;
  height: 4rem;
  border-radius: 30%;
  cursor: pointer;
}

#sea {
  background: url(./icon/icons8-wave-lines-100.png) center;
  background-size: contain;
  width: 4rem;
  height: 4rem;
  border-radius: 30%;
  cursor: pointer;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.hidden {
  opacity: 0;
}
